<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/46b7ceee20.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    
    <footer class="footer">
        made with <i class="fa-solid fa-heart"></i> by aman.
        <div class="links">
            <a href="https://www.instagram.com/aman__karma?igsh=OGQ5ZDc2ODk2ZA==" ><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/aman-karma-a5a56825b"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</body>
</html>