<nav>
    <div class="navbar">
        <a href="/" class="logo"><h3>Pinterest</h3></a>
        <i class="ri-search-line"></i>
        <input class="nav-search" type="text" placeholder="Search">
        <a href="/register" class="btn singin-btn-nav" style="margin-right: 2px;">SignIn</a>
        <a href="/login" class="btn login-btn-nav" style="margin-left: 2px;">LogIn</a>
    </div>
</nav>