<nav>
    <div class="navbar-private">
        <a href="/profile/feed" class="logo-private"><h3>Pinterest</h3></a>
        <i class="ri-search-line"></i>
        <button onclick="openUploadForm()" class="btn-private" style="margin-left: 2px;">Create</button>
        <input class="nav-search-private" type="text" placeholder="Search">
        
        <div class="feedprofile">
            <a href="/profile">
                <img src="<%=user.profilepic%>" class="feed-profile-pic">
            </a>
        </div>
    </div>
</nav>
<script src="/javascripts/profile.js"></script>