<div class="window-container">
    <div class="window-card">
    <a class="visitUserProfile">
        <div class="windowUser">
            <div class="window-profile"><img class="window-profile-img" alt="."></div>
            <p class="window-username"><b></b></p>
        </div>
    </a>
        <div class="window-img-frame"><img class="window-image" alt="Sammple Image" ></div>
        <a style="text-decoration: none;" href="/likepost"><i  class="ri-heart-line windowlikebtn"></i></a>
        <a style="text-decoration: none;" href="/savepost"><i  class="ri-bookmark-line windowsavebtn"></i></a>
        <a style="text-decoration: none;" href="/deletepost"><i  class="ri-delete-bin-fill windowdeletebtn"></i></a>
        <p class="likecount"></p>
        <p class="window-title"></p>
        
        <span class="closeWindow" onclick="closeWindow()">✖</span>
    </div>
</div>
<script src="/javascripts/postWindow.js"></script>